.headerButton {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    border-bottom: 0px solid transparent;
	width: 92px;
	text-align: center;
    color: black;
	font-weight: 400;
    font-size: 18px;
	transition: .2s ease;
	-webkit-transition: .2s ease;
	box-sizing: border-box;

	&:hover {
		border-bottom: 4px solid #0e76a8;
		color: #8d8d8d;
	}
}

.contactButton {
	display: inline-block;
    padding-top: 5px;
    height: 35px;
    border-radius: 5px;
    margin: 6px;
    font-weight: 400;
    font-size: 15px;
	width: 90px;
	box-sizing: border-box;
}


#email {
	border: 2px solid #84ce67; color: #84ce67;
	&:hover { border: 2px solid #a7da92; }
	&:active { border: 2px solid #5bb935; }
}

#twitter {
	border: 2px solid #00acee; color: #00acee;
	&:hover { border: 2px solid #00C4FF; }
	&:active { border: 2px solid #00a0d1; }
}

#google {
	border: 2px solid #d96254; color: #d96254;
	&:hover { border: 2px solid #e3958b; }
	&:active { border: 2px solid #be2c1c; }
}

#linkedin {
	border: 2px solid #0e76a8; color: #0e76a8;
	&:hover	{ border: 2px solid #5ea5c6; }
	&:active { border: 2px solid #036fa0; }
}



#header {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: visible;
    font-weight: 300;
    margin-top: -4px;
    opacity: 0.850;
	list-style: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
	width: 92%;
}

.headercontainer {
    width: 100%;
    border: 0px solid black;
    overflow: hidden; /* contains if left is longer than right */;
}

.headerLeft {
    width: 30%;
    height: 100%;
    float: left; /* add this */
    border: 0px solid red;
    display: inline-block;
}

.headerRight {
    border: 0px solid green;
    height: 35%;
    width: 70%;
    overflow: hidden; /* so right doesn't wrap below left */
}