---
layout: layout
title: "Archives in "
---

<h2>Archives by Year</h2>
<hr />
<ul>
<!--     {% for post in site.posts %}
        {% capture the_year %}
            {{ post.date | date: "%Y" }}
        {% endcapture %}

        {% capture previous_year %}
            {{ previous_post.date | date: "%Y" }}
        {% endcapture %}

        {% if the_year != previous_year %}
            {% assign year_changed = true %}
        {% else %}
            {% assign year_changed = false %}
        {% endif %}
        {% if year_changed %}
            <li><a href="/archive/{{ the_year }}/index.html"><strong>{{ the_year }}</strong></a></li>
        {% endif %}
        {% assign previous_post = post %}
    {% endfor %} -->

    {% for post in site.posts %}
        {% assign current_year = post.date | date: "%Y" %}
        {% if year != current_year %}
            {% if year != nil %}

            {% endif %}
            <h2{% if year == nil %} class="top"{% endif %}>{{ current_year }}</h2>

            {% assign year = current_year %}
        {% endif %}
        <!-- <tr>
            <td class="nowrap"><time>{{ post.date | date: "%b %d" }}</time>{{ site.delimiter }} &raquo;</td>
            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
        </tr> -->
        <li>{{ post.date | date: "%b %d" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>
