---
layout: archive
nav-cat: true
title: "Categories"
---

<h2>Categories</h2>
<ul class="tag_box list-inline">
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
    {% for category in categories_list %}
            <li><a href="{{ BASE_PATH }}{{ site.categories_path }}#{{ category }}" rel="category">
                    {{ category | join: "/" }}
            </a><span class="badge">{{ site.categories[category].size }}</span></li>
    {% endfor %}
  {% else %}
    {% for category in categories_list %}
            <li><a href="{{ BASE_PATH }}{{ site.categories_path }}#{{ category[0] }}" rel="category">
                    {{ category[0] | join: "/" }}
            </a><span class="badge" style="vertical-align: super;">{{ category[1].size }}</span></li>
    {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</ul>


<hr />


{% for category in site.categories %}
    <a name="{{ category | first }}"></a>
    <h4 id="{{ category | first }}">
        <i class="glyphicon glyphicon-folder-open"></i><a href="/category/{{category | first}}/index.html" title="View all posts under {{category | first}}"> <strong>{{category | first}} ({{category | last | size }})</strong></a></h4>
    <ul id="{{ category[0] }}">
        {% for post in category[1] %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>
{% endfor %}

