---
layout: index
title: "Home Page"
image:
  feature: abstract-1.jpg
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <section class="index">
    {% include post_preview.html %}
  </section>
{% endfor %}

<!-- Pagination links -->
<section class="pagination">
<div class="pagination">
<!-- {% if paginator.total_pages > 1 %} -->
  <ul class="inline">
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <li><a class="btn btn-outline" href="/">Home</a></li>
        <li><a class="btn btn-outline" href="/">&laquo; Newer</a></li>
      {% else %}
        <li><a class="btn btn-outline" href="/">Home</a></li>
        <li><a class="btn btn-outline" href="/page{{paginator.previous_page}}/">&laquo; Newer</a></li>
      {% endif %}
    {% else %}
      <li><a class="btn btn-outline disabled" href="/">Home</a></li>
      <li><a class="btn btn-outline disabled">&laquo; Newer</a></li>
    {% endif %}

    <li>
      {% if paginator.page == 1 %}
        <a class="btn btn-outline disabled">1</a>
      {% else %}
        <a class="btn btn-outline" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <a class="btn btn-outline disabled">{{ count }}</a>
        {% else %}
          <a class="btn btn-outline" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}


    {% if paginator.next_page %}
      <li><a class="btn btn-outline" href="/page{{paginator.next_page}}/">Older &raquo;</a></li>
      <li><a class="btn btn-outline" href="/page{{paginator.total_pages}}/">Last</a></li>
    {% else if paginator.page == paginator.total_pages %}
      <li><a class="btn btn-outline disabled">Older &raquo;</a></li>
      <li><a class="btn btn-outline disabled">Last</a></li>
    {% endif %}
  </ul>
<!-- {% endif %} -->
</div>
</section>
<!-- </div> -->