---
layout: index
title: "Home Page"
image:
  feature: abstract-1.jpg
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    {% include post_preview.html %}
{% endfor %}

<!-- Pagination links -->

<!-- <div class="pull-right"> -->
<div class="pagination">
<!-- {% if paginator.total_pages > 1 %} -->
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a class="btn" href="/">Home</a>
      <a class="btn" href="/">&laquo; Newer</a>
    {% else %}
      <a class="btn" href="/">Home</a>
      <a class="btn" href="/page{{paginator.previous_page}}/">&laquo; Newer</a>
    {% endif %}
  {% else %}
    <span><a class="btn disabled" href="/">Home</a></span>
    <span><a class="btn disabled">&laquo; Newer</a></span>
  {% endif %}

  <!-- <span><a class="btn disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span> -->
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page %}
    <a class="btn" href="/page{{paginator.next_page}}/">Older &raquo;</a>
    <a class="btn" href="/page{{paginator.total_pages}}/">Last</a>
  {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn disabled">Older &raquo;</a></span>
    <span><a class="btn disabled">Last</a></span>
  {% endif %}

<!-- {% endif %} -->
</div>
<!-- </div> -->