<div>
<h2>About Me</h2>

<p>
    <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" title="Follow me on Twitter @{{ site.author.twitter }}"  class="img-rounded floatLeft" />
    Hi, there. I'm HJKing. Welcome to my blog built on github pages.
    I'm ASIC Design Engineer in China. And also a EDA server administator.
    This <a href="{{ site.links.blog }}" target="_blank">site</a> is for personal usage to take some notes in my life and work.
    Hope to get known some guys here. Thanks.

    <h6>{{ site.links.blog_repo }}</h6>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="{{ site.author.twitter }}" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>
    <br>
    <ul class="buttons unstyled">
        <li><a href="{{ site.links.github }}" rel="me" class="social github" title="Github" target="_blank"></a></li>
        <li><a href="{{ site.links.twitter }}" rel="me" class="social twitter" title="Twitter" target="_blank"></a></li>
        <li><a href="{{ site.links.linkedin }}" rel="me" class="social linkedin" title="LinkedIn" target="_blank"></a></li>
        <li><a href="{{ site.links.facebook }}" rel="me" class="social facebook" title="Facebook" target="_blank"></a></li>
        <li><a href="{{ site.links.gplus }}" rel="me" class="social gplus" title="Google Plus" target="_blank"></a></li>
        <li><a href="mailto:{{ site.author.email }}" rel="me" class="social mail" title="Email Me" target="_blank"></a></li>
        <li><a href="/rss.xml" rel="me" class="social rss" title="Subscrible Me" target="_blank"></a></li>
        <li><a href="{{ site.links.feedback }}/issues/new" rel="me" class="social github" title="Leave feedback for {{ site.author.name  }}"  target="_blank"></a></li><br>
    </ul>
    <br>
    <!-- {% if site.owner.twitter %} {% endif %} -->
    <a href="http://twitter.com/{{ site.owner.twitter }}" class="author-social" target="_blank"><i class="icon-twitter"></i> Twitter</a>
    <a href="http://facebook.com/{{ site.owner.facebook }}" class="author-social" target="_blank"><i class="icon-facebook"></i> Facebook</a>
    <a href="{{ site.owner.google_plus }}" class="author-social" target="_blank"><i class="icon-google-plus"></i> Google+</a>
    <a href="http://linkedin.com/in/{{ site.owner.linkedin }}" class="author-social" target="_blank"><i class="icon-linkedin"></i> LinkedIn</a>
    <a href="http://instagram.com/{{ site.owner.instagram }}" class="author-social" target="_blank"><i class="icon-instagram"></i> Instagram</a>
    <a href="http://github.com/{{ site.owner.github }}" class="author-social" target="_blank"><i class="icon-github"></i> Github</a>
    <a href="http://lastfm.com/{{ site.owner.lastfm }}" class="author-social" target="_blank"><i class="icon-lastfm"></i> Last.fm</a>
    <a href="http://{{ site.owner.tumblr }}.tumblr.com" class="author-social" target="_blank"><i class="icon-tumblr"></i> Tumblr</a>
    <br>
    <h6>Contact Me</h6>
    <ul class="buttons unstyled">
        <li><a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{ site.author.twitter }}</a></li>
        <li><a href="https://twitter.com/intent/tweet?screen_name={{ site.author.twitter }}" class="twitter-mention-button">Tweet to @{{ site.author.twitter }}</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
    <ul>
    <br>
    <!-- Facebook Comment -->
    <div class="fb-comments" data-href="{{ site.url }}" data-width="300"></div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_CN/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</p>
<hr>
</div>
