<div>
<h2>About Me</h2>

<p>
    <img src="{{ site.author.gravatar }}" alt="{{ site.author.name }}" title="Follow me on Twitter @{{ site.author.twitter }}"  class="img-rounded floatLeft" />
    Hi, there. I'm HJKing. Welcome to my blog built on github pages.
    I'm ASIC Design Engineer in China. And also a EDA server administator.
    This <a href="{{ site.links.blog }}" target="_blank">site</a> is for personal usage to take some notes in my life and work.
    Hope to get known some guys here. Thanks.
</p>

<p>
    <h6>{{ site.links.blog_repo }}</h6>
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}.github.com&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="80px" height="20px"></iframe>&nbsp;
    <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user={{ site.author.github }}&repo={{ site.author.github }}.github.com&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe> <br>

    <a href="https://twitter.com/{{ site.author.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @{{ site.author.twitter }}</a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}" data-count="horizontal" data-via="{{ site.author.twitter }}" data-related="mdo:Creator of Twitter Bootstrap">Tweet</a>

    <ul class="buttons unstyled">
        <li><a href="{{ site.links.github }}" rel="me" class="social github" title="Github" target="_blank"></a></li>
        <li><a href="{{ site.links.twitter }}" rel="me" class="social twitter" title="Twitter" target="_blank"></a></li>
        <li><a href="{{ site.links.linkedin }}" rel="me" class="social linkedin" title="LinkedIn" target="_blank"></a></li>
        <li><a href="{{ site.links.facebook }}" rel="me" class="social facebook" title="Facebook" target="_blank"></a></li>
        <li><a href="{{ site.links.gplus }}" rel="me" class="social gplus" title="Google Plus" target="_blank"></a></li>
        <li><a href="mailto:{{ site.author.email }}" rel="me" class="social mail" title="Email Me" target="_blank"></a></li>
        <li><a href="/rss.xml" rel="me" class="social rss" title="Subscrible Me" target="_blank"></a></li>
        <li><a href="{{ site.links.feedback }}/issues/new" rel="me" class="social github" title="Leave feedback for {{ site.author.name  }}"  target="_blank"></a></li><br>
    </ul>

</p>
<hr>
</div>