
<!-- <div class="navbar navbar-inverse navbar-fixed-bottom"> -->
<div class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <ul class="nav pull-right">
      {% if site.links.feedback %}
      <li><a href="{{ site.links.feedback }}" title="Leave feedback for {{ site.author.name  }}"  target="_blank" >Leave Feedback</a></li>
      {% endif %}
      <li><a title="Email Me" href="mailto:{{ site.author.email }}" target="_blank"><i class="fa fa-envelope"></i></a>
      {% for nav in site.sociallink %}
          <li><a title="{{ nav.title }}" href="{{ nav.href }}" target="_blank"><i class="{{ nav.class }}"></i></a>
      {% endfor %}
      <li><a title="Wechat" href="/wechat.html"><i class="fa fa-wechat"></i></a>
      <li><a title="RSS Feed" href="/rss.xml"><i class="fa fa-rss"></i></a>
      <li><a title="Go to Top" href="#"><i class="fa fa-arrow-circle-up"></i></a>
    </ul>
  </div>
</div>
