  <head>
    <meta charset="utf-8">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% if page.description == null %}{{ site.description }}{% else %}{{ page.description }}{% endif %}" />
    <meta name="author" content="{{ site.author.name }}">

    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    <title>
      {% if page.url != "/index.html" %}
        {{ page.title }} -
      {% endif %}
      {{ site.title }}
    </title>

    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss.xml" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/atom.xml" />
    <link rel="shortcut icon" href="/favicon.ico">

    <link href="/assets/css/jquery.githubwidget.min.css" rel="stylesheet" />
    <link href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <!-- bootstrap 2 -->
    <!-- <link href="/assets/bootstrap/2.3.2/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="/assets/bootstrap/2.3.2/css/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" /> -->
    <!-- bootstrap 3 -->

    <!-- <link href="/assets/bootstrap/3.1.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> -->
    <!-- <link href="/assets/bootstrap/3.1.0/css/bootstrap-theme.min.css" type="text/css" rel="stylesheet" /> -->
    <link href="{{ site.libs.bootstrap.path }}/{{ site.libs.bootstrap.version }}/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <!-- syntax highlighting with google -->
    <!-- <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script> -->
    <!-- <link href="/assets/google-code-prettify/prettify.css" type="text/css" rel="stylesheet" media="screen" /> -->
    <link href="/assets/google-code-prettify/styles/desert.css" type="text/css" rel="stylesheet" media="screen" />
    <!-- Buttons -->
    <!-- <link href="/assets/Buttons/css/buttons.css" type="text/css" rel="stylesheet"> -->
    <!-- Flat UI -->
    <!-- <link href="/assets/flat-ui/css/flat-ui.css" rel="stylesheet"> -->
    <!-- Font Awesome -->
    <link href="{{ site.libs.font-awesome.path }}/{{ site.libs.font-awesome.version }}/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <!-- Moot style -->
    <link rel="stylesheet" type="text/css" href="//cdn.moot.it/1/moot.css">
    <!-- syntax highlighting CSS -->
    <!-- <link href="/assets/css/syntax.css" rel="stylesheet" /> -->
    <link href="/assets/css/syntax.css" rel="stylesheet" />
    <!-- Fonts -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Inconsolata|Droid+Sans|Dancing+Script|Yanone+Kaffeesatz' rel='stylesheet' type='text/css'> -->
    <link href='http://fonts.useso.com/css?family=Inconsolata|Droid+Sans|Dancing+Script|Yanone+Kaffeesatz|Lato|Helvetica|Lucida+Grande' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" media="screen" charset="utf-8" />
    <link href="/assets/css/rouge.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        pre{
            background: rgba(0, 0, 0, 0.95);
        }
    </style>

    <script src="/assets/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery.scrollUp.min.js"></script>

    <!-- Scroll Top -->
    <script>
        $(function(){
            $.scrollUp({
                scrollImg: true,  // use image
            });
        });
    </script>

    <!-- Full screen search -->
    <script>
        $(function () {
            $('a[href="#search"]').on('click', function(event) {
                event.preventDefault();
                $('#search').addClass('open');
                $('#search > form > input[type="search"]').focus();
            });

            $('#search, #search button.close').on('click keyup', function(event) {
                if (event.target == this || event.target.className == 'close' || event.keyCode == 27) {
                    $(this).removeClass('open');
                }
            });

            // $('form').submit(function(event) {
            //     event.preventDefault();
            //     return false;
            // })
        });
    </script>

    <!-- right sidebar navigation -->
    <script>
        $(document).ready(function(){
            $('.awesome-tooltip').tooltip({
                placement: 'left'
            });

            $(window).bind('scroll',function(e){
              dotnavigation();
            });

            function dotnavigation(){

                var numSections = $('section').length;

                $('#dot-nav li a').removeClass('active').parent('li').removeClass('active');
                $('section').each(function(i,item){
                  var ele = $(item), nextTop;

                  console.log(ele.next().html());

                  if (typeof ele.next().offset() != "undefined") {
                    nextTop = ele.next().offset().top;
                  }
                  else {
                    nextTop = $(document).height();
                  }

                  if (ele.offset() !== null) {
                    thisTop = ele.offset().top - ((nextTop - ele.offset().top) / numSections);
                  }
                  else {
                    thisTop = 0;
                  }

                  var docTop = $(document).scrollTop();

                  if(docTop >= thisTop && (docTop < nextTop)){
                    $('#dot-nav li').eq(i).addClass('active');
                  }
                });
            }

            /* get clicks working */
            $('#dot-nav li').click(function(){

                var id = $(this).find('a').attr("href"),
                  posi,
                  ele,
                  padding = 0;

                ele = $(id);
                posi = ($(ele).offset()||0).top - padding;

                $('html, body').animate({scrollTop:posi}, 'slow');

                return false;
            });

        /* end dot nav */
        });
    </script>

    <script>
        <!-- JS -->
        $(function(){
          $('a[title]').tooltip();
        });
    </script>

</head>