    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-narrow">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <!-- <a class="brand" href="{{ site.url }}">{{ site.title }}</a> -->
                <a class="brand" href="/index.html">  {{ site.title }}</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li class="active">
                            <a href="/index.html"><i class="fa fa-home"></i> Home</a>
                        </li>

                        <!-- Linux -->
<!--                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list-ul"></i> Linux <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/category/shell/index.html" title="Shell">Shell</a></li>
                                <li><a href="/category/vim/index.html" title="Vim">Vim</a></li>
                                <li><a href="/category/emacs/index.html" title="Emacs">Emacs</a></li>
                                <li><a href="/category/git/index.html" title="Emacs">Git</a></li>
                                <li><a href="/category/admin/index.html" title="Admin">Admin</a></li>
                            </ul>
                        </li> -->

                        <!-- Programming -->
<!--                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list-ul"></i> Programing <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/category/python/index.html" title="Python">Python</a></li>
                                <li><a href="/category/perl/index.html" title="Perl">Perl</a></li>
                                <li><a href="/category/c/index.html" title="C">C</a></li>
                                <li><a href="/category/web/index.html" title="Web">Web</a></li>
                            </ul>
                        </li> -->

                        <!-- IC -->
<!--                         <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-list-ul"></i> IC <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/category/eda/index.html" title="EDA">EDA</a></li>
                                <li><a href="/category/verilog/index.html" title="Verilog">Verilog</a></li>
                                <li><a href="/category/verification/index.html" title="Verification">Verification</a></li>
                                <li><a href="/category/design/index.html" title="Design">Design</a></li>
                            </ul>
                        </li> -->

                        <!-- Projects -->
                        <li><a href="/project.html"><i class="fa fa-code"></i> Projects </a></li>

                        <!-- Archives -->
                        <li><a href="{{ site.archive_path }}"><i class="fa fa-archive"></i> Archives </a></li>

                        <li><a href="{{ site.about_path }}"><i class="fa fa-male"></i> About </a></li>

                    </ul> <!--/.nav -->
                </div> <!--/.nav-collapse -->

                <form class="navbar-search pull-right" onsubmit="my_search_google()" >
                    <input type="text" class="search-query input-small" placeholder="Search" id="my-google-search">
                </form>
            </div> <!-- /.container -->
        </div> <!--/.navbar-inner-->
    </div> <!--/.navbar-->
