<header class="header-wrap" id='top'>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-narrow">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
				<span class="icon-bar"></span>
            </a>
            <!-- <a class="brand" href="{{ site.url }}">{{ site.title }}</a> -->
            <a class="brand" href="/index.html">  {{ site.title }}</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li class="active"><a href="/index.html"><i class="fa fa-home"></i> Home</a></li>

                    <!-- Linux -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-list-ul"></i> Linux <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="/category/shell/index.html" title="Shell">Shell</a></li>
                            <li class=""><a href="/category/vim/index.html" title="Vim">Vim</a></li>
                            <li class=""><a href="/category/emacs/index.html" title="Emacs">Emacs</a></li>
                            <li class=""><a href="/category/git/index.html" title="Emacs">Git</a></li>
							<li class=""><a href="/category/admin/index.html" title="Admin">Admin</a></li>
                        </ul> <!--/.dropdown-menu -->
                    </li> <!--/.dropdown -->

                    <!-- Programming -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-list-ul"></i> Programing <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="/category/python/index.html" title="Python">Python</a></li>
                            <li class=""><a href="/category/perl/index.html" title="Perl">Perl</a></li>
                            <li class=""><a href="/category/c/index.html" title="C">C</a></li>
							<li class=""><a href="/category/web/index.html" title="Web">Web</a></li>
                        </ul> <!--/.dropdown-menu -->
                    </li> <!--/.dropdown -->

                    <!-- IC -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-list-ul"></i> IC <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="/category/eda/index.html" title="EDA">EDA</a></li>
                            <li class=""><a href="/category/verilog/index.html" title="Verilog">Verilog</a></li>
                            <li class=""><a href="/category/verification/index.html" title="Verification">Verification</a></li>
							<li class=""><a href="/category/design/index.html" title="Design">Design</a></li>
                        </ul> <!--/.dropdown-menu -->
                    </li> <!--/.dropdown -->

                    <!-- Projects -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-list-ul"></i> Projects <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="https://github.com/kinghom/mydotfiles" title="Go to my dotfiles github page" target="_blank">Dotfiles</a></li>
                            <li class=""><a href="https://github.com/kinghom/myscript" title="Go to my scripts github page" target="_blank">Scripts</a></li>
                            <li class=""><a href="https://github.com/kinghom/mydotvim" title="Go to my .vim github page" target="_blank">Dotvim</a></li>
							<li class=""><a href="https://github.com/kinghom/Feedback" title="Go to my Feedback github page" target="_blank">Feedback</a></li>
                        </ul> <!--/.dropdown-menu -->
                    </li> <!--/.dropdown -->

                    <!-- Archives -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-list-ul"></i> Archives <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class=""><a href="/all_archives.html" title="All Archives">All Posts</a></li>
                            <li class=""><a href="/archive_by_year.html" title="Archives by Year">Archives by Year</a></li>
                            <li class=""><a href="/archive_by_month.html" title="Archives by Month">Archives by Month</a></li>
                            <li class=""><a href="/categories.html" title="Categories">Categories</a></li>
                        </ul> <!--/.dropdown-menu -->
                    </li> <!--/.dropdown -->

                    <li class=""><a href="{{ site.tags_path }}"><i class="fa fa-tags"></i> Tags </a></li>

                    <!-- Search box -->
<!--                     <li id="search" class="search hidden-phone hidden-tablet">
                        <span class="icon search"></span>
                        <input type="text" placeholder="search">
                        <i id="close" class="icon-remove"></i>
                        <ol id="search-results" class="dropdown-menu">
                        </ol>
                    </li> -->

                <!-- Google Search Box -->
                <li class="">
                    <form class="navbar-search pull-right" action="/search.html">
                      <!--<div class="input-append">-->
                        <input type="text" name="q" class="search-query input-medium" placeholder="Search">
                        <button type="submit" class="icon nav-search"><i class="fa fa-search icon-white"></i></button>
                      <!--</div>-->
                    </form>
                </li>
            </ul> <!--/.nav -->
            </div> <!--/.nav-collapse -->

        </div> <!-- /.container -->
    </div> <!--/.navbar-inner-->
</div> <!--/.navbar-->


<!-- <a class="back-to-top scrollTo fly-in-up" href='#top'></a> -->

</header>
