<!-- <nav class="navbar navbar-default navbar-fixed-top"> -->
<!-- <nav class="navbar navbar-default navbar-inverse global-nav" role="navigation"> -->
<nav class="navbar navbar-default global-nav" role="navigation">
    <div class="container" id="navbar">
        <div class="navbar-header" id="nav-logo">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
                <span class="glyphicon glyphicon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">  {{ site.title }} </a>
        </div>
        <div class="navbar-collapse collapse" id="nav-link">
            <ul class="nav navbar-nav">
                <li id="home">
                    <a class="nav-index" href="/"><i class="fa fa-home fa-2x"></i> Home</a>
                </li>

                <!-- wiki -->
                <li id="wiki"><a class="nav-wiki" href="{{ site.wiki_path }}"><i class="fa fa-book fa-2x"></i> Wiki </a></li>

                <!-- Projects -->
                <li id="project"><a class="nav-project" href="{{ site.about_path }}#projects"><i class="fa fa-bookmark  fa-2x"></i> Projects </a></li>

                <!-- Archives -->
                <li id="archive"><a class="nav-archive" href="{{ site.archive_path }}"><i class="fa fa-archive fa-2x"></i> Archives </a></li>

                <li id="about"><a class="nav-about" href="{{ site.about_path }}"><i class="fa fa-user fa-2x"></i> About </a></li>
            </ul> <!--/.nav -->
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#search"><i class="glyphicon glyphicon-search"></i> Search</a></li>
            </ul>
        </div> <!--/.nav-collapse -->
    </div>
</nav> <!--/.navbar-->
