<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

<script src="/assets/google-code-prettify/prettify.js" type="text/javascript"></script>
<script src="/assets/js/jquery.githubwidget.min.js" type="text/javascript"></script>
<script src="/assets/js/custom.js" type="text/javascript"></script>
<script src="/assets/js/underscore.js" type="text/javascript"></script>
<script src="/assets/bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/toc.min.js"></script>
<!-- Moot application -->
<script src="//cdn.moot.it/latest/moot.min.js"></script>
{% include my_google_search.html %}

<!-- Analytics -->
{% include analytics %}
