<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js" type="text/javascript"></script>

<script src="/assets/google-code-prettify/prettify.js" type="text/javascript"></script>
<script src="/assets/js/jquery.githubwidget.min.js" type="text/javascript"></script>
<script src="/assets/js/custom.js" type="text/javascript"></script>
<script src="/assets/js/underscore.js" type="text/javascript"></script>
<script src="/assets/js/calendar.js" type="text/javascript"></script>

<script src="/assets/bootstrap/2.3.2/js/bootstrap.min.js" type="text/javascript"></script>
<!-- Moot application -->
<script src="//cdn.moot.it/latest/moot.min.js"></script>

<script>
$(function() {
      $.ajax({
          url: "/sitemap.xml",
          dataType: "xml",
          success: function( xmlResponse ) {
             var data = $( "article", xmlResponse ).map(function() {
                  return {
                      value: $( "title", this ).text() + ", " +
                          ( $.trim( $( "date", this ).text() ) ),
                      desc: $("description", this).text(),
                      url: $("url", this).text()
                  };
              }).get();

              $( "#j_search" ).autocomplete({
                  source: data,
                  minLength: 0,
                  position: { my : "right top", at: "right bottom" } 
                  select: function( event, ui ) {
                    window.location.href = ui.item.url;
                  }
              });
          }
      });
  });
  </script>