
<div class="well well-small">
  <h5><i class="glyphicon glyphicon-tags"></i> Tag Cloud</h5>
   {% for tag in site.tags %}
      <a href="/tags.html#{{ tag[0] }}" id="{{ forloop.index }}" class="__tag" style="margin: 2px">{{ tag[0] }}</a>({{ tag[1].size }})
   {% endfor %}
</div>

<script type="text/javascript">
   $(function() {
      var minFont = 12.0,
          maxFont = 36.0,
          diffFont = maxFont - minFont,
          size = 0;

      {% assign max = 1.0 %}
      {% for tag in site.tags %}
         {% if tag[1].size > max %}
            {% assign max = tag[1].size %}
         {% endif %}
      {% endfor %}

      {% for tag in site.tags %}
         size = (Math.log({{ tag[1].size }}) / Math.log({{ max }})) * diffFont + minFont;
         $("#{{ forloop.index }}").css("font-size", size + "px");
      {% endfor %}
   });
</script>

