
body {
    padding-top: 40px;
    margin: 0;
    font-family: "Droid Sans", "Inconsolata", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #444444;
    background-color: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Droid Sans", "Yanone Kaffeesatz", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #333;
    font-weight: bold;
}

h1,h2,h3,h4 {
    border-bottom: 1px solid #ccc;
}

h1 {
    line-height: 36px;
    font-size: 32px;
    margin-top: 18px;
    margin-bottom: .15em;
}

h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 15px;
}

h3 {
    line-height: 26px;
    font-size: 24px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

h4 {
    line-height: 22px;
    font-size: 20px;
    padding-bottom: 5px;
}

h5 {
    font-size: 18px;
    line-height: 22px;
}

h6 {
    font-size: 16px;
    line-height: 22px;
}

h2, h2 a {
    font-size:26px;
    color:#333 !important;
}
h2 a:hover {
    color:#333 !important;
    text-decoration: underline;
}

h3, h4, h5, h6, h3 a, h4 a, h5 a, h6 a {
    color:#444 !important;
}

h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color:#444 !important;
    text-decoration: underline;
}

a {
    color:#6491b2;
    text-decoration:none;
}

a:hover,
a:active {
    color:#4f738d;
    text-decoration: underline;
}

a small {
    font-size:11px;
    color:#777;
    margin-top:-0.6em;
    display:block;
}

a:hover small {
    color:#777;
}

strong {
    color:#222;
    font-weight:700;
}

section {
    width:600px;
    float:right;
    padding-bottom:50px;
    min-height: 400px;
    overflow: hidden;
}

small {
    font-size:11px;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}

blockquote {
    border-left:1px solid #e5e5e5;
    margin:0;
    padding:0 0 0 20px;
    font-style:italic;
}

p, ul, ol, table, pre, dl {
    margin:0 0 20px;
}

p {
    margin-bottom: 24px;
    font-family: "Droid Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 20px;
}

input, button, select, textarea {
    font-family: "Droid Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
}

li#search {
    position: relative;
}

li#search h6 {
    font-size: 12px;
    line-height: 18px;
}

li#search p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

li#search input {
    width: 350px;
    margin-top: 5px;
}

li#search hr {
    margin-top: 5px;
}

ol#search-results li {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar .nav > #search-results::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.navbar .nav > #search-results::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.navbar-inner {
    height: 30px; /* change value here*/
    background-image: none;
    background-repeat: repeat-x;
    border-color: none;
    filter: none;
}

.navbar-inverse .brand, .navbar-inverse .nav > li > a {
    color: #999999;/* CHANGE COLOR HERE*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a {
    float: none;
    padding: 10px 15px 10px; /* CHANGE HEIGHT HERE */
    color: #777777; /* CHANGE COLOR HERE*/
    text-decoration: none;
    text-shadow: 0 1px 0 #ffffff;
}

/* Next/Prev pager */
.pager a {
  position:fixed;
  top:50%;
  z-index:101;
  margin-top:-30px;
  padding:20px 5px;
  height:20px;
  width:20px;
  display:block;
  text-indent:-9999px;
  overflow:hidden;
  transition:background-color .2s;
  -moz-transition:background-color .2s;
  -webkit-transition:background-color .2s;
  }

.pager a.prev {
  left:0%;
  border-radius:0px 3px 3px 0px;
}

.pager a.next {
  right:0%;
  border-radius:3px 0px 0px 3px;
}

.pager a { background-color:#444444; }
.pager a:hover { background-color:#222222; }
.pager .icon.prev { background-position:-80px -90px; }
.pager .icon.next { background-position:-100px -90px; }
.pager a:hover .icon.prev { background-position:-80px -70px; }
.pager a:hover .icon.next { background-position:-100px -70px; }
.pager .icon-arrow-left { position: fixed; left: 0; }
.pager .icon-arrow-right { position: fixed; }

.headerButton {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    border-bottom: 0px solid transparent;
    width: 92px;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 18px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    box-sizing: border-box;

    &:hover {
        border-bottom: 4px solid #0e76a8;
        color: #8d8d8d;
    }
}

.contactButton {
    display: inline-block;
    padding-top: 5px;
    height: 35px;
    border-radius: 5px;
    margin: 6px;
    font-weight: 400;
    font-size: 15px;
    width: 90px;
    box-sizing: border-box;
}

ul.buttons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline;
    float:left;
}

img {
  max-width: 97.5%;
  margin: 15px auto;
  display: block;
  width: auto;
  height: auto;
}

img.avatar {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    width:72px;
    height:72px;
}

img.profile {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:100px;
    height:100px;
}

img.pull-right {
    max-width: 40%;
    float: right;
    margin: 0 0 1em 1em;
}

img.pull-left {
    max-width: 40%;
    float: right;
    margin: 0 1em 1em 0;
}

img.floatLeft {
    float: left;
    margin: 4px 8px 4px 0px;
}

img.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


#header {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: visible;
    font-weight: 300;
    margin-top: -4px;
    opacity: 0.850;
    list-style: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    width: 92%;
}

.headercontainer {
    width: 100%;
    border: 0px solid black;
    overflow: hidden; /* contains if left is longer than right */;
}

.headerLeft {
    width: 30%;
    height: 100%;
    float: left; /* add this */
    border: 0px solid red;
    display: inline-block;
}

.headerRight {
    border: 0px solid green;
    height: 35%;
    width: 70%;
    overflow: hidden; /* so right doesn't wrap below left */
}

#post .authoring{
  margin-bottom: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 0px;
  font-size: 16px;
  color: #777;
}

.posts .post_date{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.brand {
  font-family: "Dancing Script", Inconsolata, sans-serif;
}

#footer {
  margin-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}


/* tag_box ======================================================== */

.tag_box {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
}
.tag_box li {
    line-height:28px;
}
.tag_box.inline li {
    float:left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color:#005F6B;
    border-radius: 3px;
    text-decoration:none;
}
.tag_box a span{
    vertical-align:super;
    font-size:0.8em;
}
.tag_box a.active {
    background:#57A957;
    border:1px solid #4C964D;
    color:#FFF;
}

/* =============================================================================
   scroll to top
   ========================================================================== */

#gotop{
  display:block;
  width:36px;
  height:36px;
  position:fixed;
  bottom:40px;
  right:30px;
  border-radius:7px;
  text-decoration:none;
  display:none;
  background-color:#999999;
}
#gotop span{
  display:block;
  color:#dddddd;
}
#gotop span:hover{
  color:#cccccc;
}
#gotop span{
  font-size:24px;
  text-align:center;
  margin-top:7px;
}
