
body {
/*    padding-top: 40px;*/
    margin: 0;
    font-family: Consolas, monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", 微软雅黑, STHeiti, "WenQuanYi Micro Hei", sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #001d33;
    background-color: #F5F5F5;
}

/* underline */
/*h1,
h2,
h3,
h4 {
    border-bottom: 1px solid #ccc;
}*/

h1 {
    font-size: 32px;
    margin-top: 18px;
}

h2 {
    line-height: 30px;
}

h3 {
    padding-bottom: 5px;
}

h4 {
    font-size: 20px;
    padding-bottom: 5px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*margin-top: 1em;*/
  margin-bottom: 12px;
  font-weight: bold;
  line-height: 1.2;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    text-decoration: underline;
    visibility: visible;
}

h2
h3,
h4,
h5,
h6,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #de7568 !important;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
    color: #02cf6c !important;
    text-decoration: underline;
}

.navbar-brand {
    float: left;
    padding: 20px 15px;
    font-size: 24px;
}

a {
    display: inline-block;
    line-height: 1.1;
    color: #de7568; /* #de7568;  #268bd2; #02cf6c #d05b1c; */
    -webkit-transition: color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out;
}

a:hover {
    color: #02cf6c; /*#009bcd;   #ff9900;*/
    text-decoration: underline;
}

/*a:active {
    color: #7cbbbb;
    text-decoration: underline;
}
*/
/*a:visited {
    color: #666;
}*/

a small {
    font-size:11px;
    color:#777;
    margin-top:-0.6em;
    display:block;
}

strong {
    color:#222;
    font-weight:700;
}

hr {
    border:0;
    background:#e5e5e5;
    height:1px;
    margin:0 0 20px;
}

blockquote {
    border-left: 4px solid #95e5e5;
    color: #890;
}

table,
pre,
dl {
    margin:0 0 20px;
}

p {
    /*font-family: "Droid Sans", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    font-size: 16px;
    line-height: 1.8;
}

input,
button,
select,
textarea {
    font-family: "Droid Sans", Helvetica, Arial, "Lucida Grande", sans-serif;
}

li#search {
    position: relative;
}

li#search h6 {
    font-size: 12px;
    line-height: 18px;
}

li#search p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
}

li#search input {
    width: 350px;
    margin-top: 5px;
}

li#search hr {
    margin-top: 5px;
}

ol#search-results li {
    padding-left: 10px;
    padding-right: 10px;
}

#navbar {
  margin-top: 10px;
}

.navbar .nav > #search-results::before {
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.navbar .nav > #search-results::after {
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
}

.navbar-inner {
    height: 30px;
    background-image: none;
    background-repeat: repeat-x;
    border-color: none;
    filter: none;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.global-nav {
    margin-bottom: 0;
    border-radius: 0;
    height: 80px;
}

.headerButton {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    border-bottom: 0px solid transparent;
    width: 92px;
    text-align: center;
    color: black;
    font-weight: 400;
    font-size: 18px;
    transition: .2s ease;
    -webkit-transition: .2s ease;
    box-sizing: border-box;

    &:hover {
        border-bottom: 4px solid #0e76a8;
        color: #8d8d8d;
    }
}

.contactButton {
    display: inline-block;
    padding-top: 5px;
    height: 35px;
    border-radius: 5px;
    margin: 6px;
    font-weight: 400;
    font-size: 15px;
    width: 90px;
    box-sizing: border-box;
}

/* ul.buttons li {  */
/*     margin: 0;  */
/*     padding: 0;  */
/*     list-style: none;  */
/*     display: inline;  */
/*     float:left;  */
/* }  */

img {
  max-width: 97.5%;
  margin: 15px auto;
  display: block;
  width: auto;
  height: auto;
}

img.avatar {
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    width:72px;
    height:72px;
}

img.profile {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    width:100px;
    height:100px;
}

img.pull-right {
    max-width: 40%;
    float: right;
    margin: 0 0 1em 1em;
}

img.pull-left {
    max-width: 40%;
    float: right;
    margin: 0 1em 1em 0;
}

img.floatLeft {
    float: left;
    margin: 4px 8px 4px 0px;
}

img.img-rounded {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}


#header {
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    overflow: visible;
    font-weight: 300;
    margin-top: -4px;
    opacity: 0.850;
    list-style: none;
}

.wrap {
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    width: 92%;
}

.headercontainer {
    width: 100%;
    border: 0px solid black;
    overflow: hidden; /* contains if left is longer than right */;
}

.headerLeft {
    width: 30%;
    height: 100%;
    float: left; /* add this */
    border: 0px solid red;
    display: inline-block;
}

.headerRight {
    border: 0px solid green;
    height: 35%;
    width: 70%;
    overflow: hidden; /* so right doesn't wrap below left */
}

#post .authoring{
  margin-bottom: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding-left: 0px;
  font-size: 16px;
  color: #777;
}

.posts .post_date{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.brand {
  font-family: "Dancing Script", Inconsolata, sans-serif;
}

/* tag_box ======================================================== */

.tag_box {
    list-style:none;
    margin:0;
    padding:5px 0 ;
    overflow:hidden;
}
.tag_box li {
    line-height:28px;
}
.tag_box.inline li {
    float:left;
}
.tag_box a {
    padding: 3px 6px;
    margin: 2px;
    background: #eee;
    color:#005F6B;
    border-radius: 3px;
    text-decoration:none;
}
.tag_box a span{
    vertical-align:super;
    font-size:0.8em;
}
.tag_box a.active {
    background:#57A957;
    border:1px solid #4C964D;
    color:#FFF;
}

.blog-cover {
  height: 150px;
  background-position: center center;
  margin-bottom: 20px;
}

.blog-cover section{
  text-align: center;
}

.blog-cover h1{
  font-family: Lato;
  font-size: 46px;
  line-height: 150px;
  margin-top: 0px;
  margin-bottom: .15em;
}

.blog-cover h1,.blog-cover h3{
  color: #fff;
  font-weight: 400;
}

#about .btn {
  text-decoration: none;
  padding-bottom: 0.2em;
  display: inline-block;
  margin: 0 0.5em;
  border-bottom: 2px solid #ccc;
}

.container-fluid {
  padding-top: 10px;
}

#link > div {
  height: 25px;
  margin: 5px;
}

div.post_newer {
  width: 50%;
  text-align: left;
  float: left;
}

div.post_older {
  width: 50%;
  text-align: right;
  float: right;
}

/* =============================================================================
   scrollup.js
   ========================================================================== */
/*

/* Image style */
#scrollUp {
  bottom: 80px;
  right: 20px;
  height: 38px;  /* Height of image */
  width: 38px; /* Width of image */
  background: url(/assets/img/top.png) no-repeat;
}

#toc {
    /*top: 0px;*/
    left: 0px;
    height: 100%;
    position: fixed;
    /*background: #333;*/
    box-shadow: inset -5px 0 5px 0px #000;
    width: 150px;
    /*padding-top: 20px;*/
    color: #fff;
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    color: #fff;
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}

/*.page-header p {
    margin-top: 0px;
    margin-bottom: 0px;
}*/

/* Full Screen Search*/
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

    opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

/* Head with Tabs */
.board{
    width: 85%;
    margin: 60px auto;
    height: 500px;
    background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
    position: relative;
    /* border-bottom: 0; */
    /* width: 80%; */
    margin: 40px auto;
    margin-bottom: 0;
    box-sizing: border-box;

}

.board > div.board-inner{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
}

p.narrow{
    width: 60%;
    margin: 10px auto;
}

.liner{
    height: 2px;
    background: #ddd;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    /* background-color: #ffffff; */
    border: 0;
    border-bottom-color: transparent;
}

span.round-tabs{
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: white;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}

span.round-tabs.one{
    color: rgb(34, 194, 34);
    border: 2px solid rgb(34, 194, 34);
}

li.active span.round-tabs.one{
    background: #fff !important;
    border: 2px solid #ddd;
    color: rgb(34, 194, 34);
}

span.round-tabs.two{
    color: #febe29;
    border: 2px solid #febe29;
}

li.active span.round-tabs.two{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #febe29;
}

span.round-tabs.three{
    color: #3e5e9a;
    border: 2px solid #3e5e9a;
}

li.active span.round-tabs.three{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #3e5e9a;
}

span.round-tabs.four{
    color: #f1685e;
    border: 2px solid #f1685e;
}

li.active span.round-tabs.four{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}

span.round-tabs.five{
    color: #999;
    border: 2px solid #999;
}

li.active span.round-tabs.five{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
    background: #fafafa;
}
.nav-tabs > li {
    width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
/*li:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    transition:0.1s ease-in-out;

}
li.active:after {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ddd;

}*/
.nav-tabs > li a{
   width: 70px;
   height: 70px;
   margin: 20px auto;
   border-radius: 100%;
   padding: 0;
}

.nav-tabs > li a:hover{
    background: transparent;
}

.tab-content{
}
.tab-pane{
    position: relative;
    padding-top: 50px;
}
.tab-content .head{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.btn-outline-rounded{
    padding: 10px 40px;
    margin: 20px 0;
    border: 2px solid transparent;
    border-radius: 25px;
}

.btn.green{
    background-color:#5cb85c;
    /*border: 2px solid #5cb85c;*/
    color: #ffffff;
}

/* Flat user profile UI */
.profile
{
    min-height: 355px;
    display: inline-block;
    }
figcaption.ratings
{
    margin-top:20px;
    }
figcaption.ratings a
{
    color:#f1c40f;
    font-size:11px;
    }
figcaption.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
    }
.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
    }
.emphasis
{
    border-top: 4px solid transparent;
    }
.emphasis:hover
{
    border-top: 4px solid #1abc9c;
    }
.emphasis h2
{
    margin-bottom:0;
    }
span.tags
{
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
    }
.dropdown-menu .divider
{
    background:none;
    }
.dropdown-menu>li>a
{
    color:#f5f5f5;
    }
.dropup .dropdown-menu
{
    margin-bottom:10px;
    }
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
    }

/*Dot Navigation with tooltips*/

#about {
    height: 100%;
}
section #me,
section #blog,
section #projects,
section #social{
  padding: 13% 0;
  height: 100%;
}
#dot-nav{
  right: 10px;
  top: 50%;
  margin-top: -50px;
  height: 100px;
  z-index: 999;
}

#dot-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#dot-nav li {
  position: relative;
  background-color: #bdc3c7;
  border: 3px solid #bdc3c7;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 10px 10px 0px 0px;
  width: 10px;
  vertical-align: bottom;
}
#dot-nav li.active, #dot-nav li:hover {
  background-color: #8e44ad;
}

#dot-nav a {
  outline: 0;
  vertical-align: top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top: -5px;
}
.awesome-tooltip + .tooltip > .tooltip-inner {
    background-color: #8e44ad;
    color: #f5f5f5;
    border: 1px solid #8e44ad;
}
.awesome-tooltip + .tooltip.left > .tooltip-arrow{
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #8e44ad;
}

#footer {
  background: #ccc;
  padding: 15px 0;
  text-align: center;
  line-height: 20px;
  background: #333;
  color: white;
}

/*#footer a{
  border-bottom: 1px #555555 dotted;
}*/

#footer a:hover{
  color: #02cf6c;
  /*border-bottom: solid 1px #02cf6c;*/
}

#post-content p {
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0px;
  word-wrap: break-word;
}

#stalker a {
  color: #428bca;
  padding: 5px 2px;
  position: relative;
  display: block;
}

#stalker a:hover {
  color: #b94a48;
}

#stalker ul {
  margin-top: 15px;
}

.glyphicon-calendar,
.glyphicon-folder-open,
.glyphicon-tags {
  color: #A84365;
}

.projects-header {
  width: 60%;
  text-align: center;
  margin: 60px 0 10px;
  font-weight: 200;
  margin-bottom: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#post-info {
  margin-top: 30px;
  margin-bottom:10px;
}

.thumbnail:hover { transform: scale(1.025); border-color: #e0e0e0; transition: all 0.2s ease; }

.article {
  margin: 24px 0;
}

.article-inner {
  box-shadow: 1px 2px 3px #eee;
  /*box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);*/
  border: 1px solid #eee;
  padding: 12px 12px 0;
}

.article-date {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #999;
}

.article-footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 0.6rem;
}

.article-footer a {
  color: #999;
  text-decoration: none;
}

.article-footer .read-more-btn {
  color: #3f51b5;
  text-decoration: none;
}

section #post{
  display: block;
}

.nav-link:hover {
  color: #fff;
  transform: scale(1.2);
}