---
layout: archive
title: "Tags"
nav-tag: true
---

<h2>Tags</h2>
<ul class="tag_box inline">
 {% for tag in site.tags %}
 <li class="btn btn-mini">
         <a href="#{{ tag[0] }}">{{ tag[0] }}
         <!-- {% if tag[1].size > 10 %}
            <span class="badge badge-important">{{ tag[1].size }}</span>
         {% else %} -->
            <span>{{ tag[1].size }}</span></a>
         <!-- {% endif %} -->
 </li>
 {% endfor %}
</ul>

<hr />

{% for tag in site.tags %}
  <a name="{{ tag[0] }}"></a>
  <h4 id="{{ tag[0] }}"><i class="glyphicon glyphicon-tags"></i> {{ tag[0] }}</h4>
  <ul>
    {% for post in tag[1] %}
      <li>{{ post.date | date: "%Y-%m-%d" }} &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
