---
layout: default
---

<div id="middle">
    <div id="page">
        {% if page.show-title %}
        <h1 class="page-title">{{ page.title }}</h1>
        {% endif %}
        <section class="page-content">
        <!-- {{ content }} -->
<div id="links"  class="row">
  {% for img in page.imgs %}
  <div class="col-xs-6 col-md-3">
    <a href="/assets/img/{{ img }}" class="thumbnail">
      <img src="/assets/img/{{ img }}">
    </a>
  </div>
  {% assign i4 = forloop.index | modulo: 4 %}
  {% if i4 == 0 %}
  <div class="clearfix visible-lg"></div>
  <div class="clearfix visible-md"></div>
  {% endif %}

  <div class="clearfix visible-xs"></div>
  {% endfor %}
</div>



        </section>
    </div>
</div>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>