---
layout: default
---

<div class="container-fluid">
    <div class="content">
        <div class="row-fluid">
            <div class="span8 columns">
                <ul class="nav nav-pills arch-nav">
                    <li {% if page.nav-arc %}class="active"{% endif %}>
                    <a href="/all_archives.html">All Archives</a></li>

                    <li {% if page.nav-cat %}class="active"{% endif %}>
                    <a href="/categories.html">Categories</a></li>

                    <li {% if page.nav-tag %}class="active"{% endif %}>
                    <a href="/tags.html">Tags</a></li>

                    <li {% if page.nav-mon %}class="active"{% endif %}>
                    <a href="/archive_by_month.html">Archive by Month</a> </li>

                    <li {% if page.nav-year %}class="active"{% endif %}>
                    <a href="/archive_by_year.html">Archive by Year</a></li>

                </ul>

                <ol class="item-list list-unstyled">
                    {{ content }}
                </ol>
            </div>
            <div class="span4 columns visible-lg visible-md">

                {% include sidebar_recent-posts.html %}

            </div>
        </div>
    </div>
</div>
