<!DOCTYPE html>
<html class="fuelux" lang="en">
  <head>
    {% include header.html %}
  </head>
  <body id="{% include page-id %}" data-spy="scroll" data-target=".subnav" data-offset="50" padding="40" onload="prettyPrint()">
    {% include navigation.html %}

    {{ content }}

    {% include float_footer.html %}
    <hr />
    {% include footer.html %}

    {% include scripts.html %}

<!--
    |----------------------------------------------------|
    |_____________________navigation_____________________|
    |                                       |            |
    |                                       |            |
    |                                       |            |
    |                   content             |            |
    |                                       |            |
    |                                       |            |
    |                                       |            |
    |----------------------------------------------------|
    |_____________________footer_________________________|
-->

  </body>
</html>
