---
layout: default
sidebar_posts: related
---

<div class="container-fluid">
    <div class="content">
        <div class="row-fluid">
            <div class="span8 columns">
                {{ content }}
            </div>
            <div class="span4 columns">
             
                <!-- {% if page.sidebar_posts == 'related' %} -->
                    {% include sidebar_related-posts.html %}
                <!-- {% else %}
                    {% include sidebar_recent-posts.html %}
                {% endif %} -->

                {% include sidebar_tags.html %}

            </div>
        </div>
    </div>
</div>

