---
layout: default
sidebar_posts: related
---

<div class="row entry">
    <!-- <div class="col-md-9 columns"> -->
    <div class="col-md-10 col-md-offset-1">
        <div class="page-header">
            <h1>{{ page.title }}</h1>

            <p>
            <i class="glyphicon glyphicon-calendar"></i> {{ page.date | date: "%A, %B %e, %Y" }}
            | <i class="fa fa-comments"></i> <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">Comments</a>
            <br>
            <i class="glyphicon glyphicon-folder-open"></i> Category :
            <a href="{{ site.categories_path }}#{{ page.categories }}" title="View posts in     category &quot;{{ page.categories }}&quot;"><span class="label label-primary">{{ page.categories }}</span></a>
            &sdot;
            <i class="glyphicon glyphicon-tags"></i> Tags :
            {% for tag in page.tags %}
                <!-- <a href="/tags/{{ tag }}" rel="tooltip" title="View pages tagged with  &quot;{{ tag }}&quot;"> -->
                <a href="{{ site.tags_path }}#{{ tag }}" rel="tooltip" title="View posts tagged     with &quot;{{ tag }}&quot;">
                <span class="label label-success">{{ tag }}</span>
                </a>
                {% if forloop.last != true %}
                {% endif %}
            {% endfor %}
            </p>
        </div>

        <section id="post-content">
            {{ content }}
        </section>

        <hr>

        <ul class="pager">
            {% if page.next %}
                <li class="previous"><a href="{{ page.next.url }}">&larr; {{ page.next.title | truncatewords:5 }}</a></li>
            {% else %}
                <li class="previous disabled"><a href="#">&larr; Newer</a></li>
            {% endif %}

            <li><a href="{{ site.archive_path }}">Archives</a></li>

            {% if page.previous %}
                <li class="next"><a href="{{ page.previous.url }}">{{ page.previous.title | truncatewords:5 }} &rarr;</a></li>
            {% else %}
                <li class="next disabled"><a href="#">&larr; Older</a></li>
            {% endif %}
        </ul>

        <hr>

        <!-- JiaThis Button BEGIN -->
        <section id="social">
            <p>
            {% include sharing %}
            </p>
        </section>
        <!-- JiaThis Button END -->

        <!-- Comments -->
        {% if page.comments %}
        <section id="comment">
            <!-- <h3>Comments</h3> -->
            {% include comments %}
        </section>
        {% endif %}
        <!-- Comments -->
    </div>

    <!-- <div class="col-md-3 columns"> -->
        <!-- {% include sidebar_related-posts.html %}
        {% include sidebar_tags.html %} -->
        <!-- <div class="toc" id="toc"></div> -->
    <!-- </div> -->

</div>
