---
layout: page
sidebar_posts: related
---

<div class="content">
    <div>
        <h2>{{ page.title }}</h2>
    </div>


    <div>
        <hr />
        <i class="icon-calendar"></i> {{ page.date | date: "%A, %B %e, %Y" }}
        | <i class="icon-comment"></i> <a href="{{ site.url }}{{ page.url }}#disqus_thread""></a>
        <br />
        <ul class="buttons unstyled">
            <!-- twitter -->
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-via="{{ site.author.twitter }}">Tweet</a></li>
            <!-- google plus -->
            <li><g:plusone size="medium"></g:plusone></li>
            <!-- Pocket -->
            <li><a data-pocket-label="pocket" data-pocket-count="none" class="pocket-btn" data-lang="en"></a>&nbsp;&nbsp;</li>
            <!-- Instapaper -->
            <li><iframe border="0" scrolling="no" width="78" height="17" allowtransparency="true" frameborder="0"
                style="margin-bottom: -3px; z-index: 1338; border: 0px; background-color: transparent; overflow: hidden;"
                src="http://www.instapaper.com/e2?url={{ site.url }}{{ page.url }}&title={{ page.title }}&description={{ page.title }}">
            </iframe>&nbsp;&nbsp;</li>
            <!-- Readability -->
            <li><div class="rdbWrapper" data-show-read-now="0" data-show-read-later="1" data-show-send-to-kindle="0" data-show-print="0" data-show-email="1" data-orientation="0" data-version="1"></div></li>
            <!-- Facebook Like -->
            <li><div class="fb-like" data-href="{{ site.url }}{{ page.url }}" data-width="100" data-layout="button_count" data-show-faces="false" data-send="false"></div></li>
        </ul>
        <br />
        <hr />
        {{ content }}
        <hr />
    </div>
	
	<!-- Previous/Next Post Arrow -->
    <div class="pager hidden-phone hidden-tablet">
        <a class="next" href="{{ page.previous.url }}" title="Older Post: {{page.previous.title}}"><i class="icon-arrow-right icon-white"></i></a>
		<a class="prev" href="{{ page.next.url }}" title="Newer Post: {{page.next.title}}"><i class="icon-arrow-left icon-white"></i></a>
    </div>
	<!-- Previous/Next Post Arrow -->

    <!-- Tags -->
    <div>
          <i class="icon-tags"></i> Tags :{% for tag in page.tags %} <a href="/tags/{{ tag }}" rel="tooltip" title="View pages tagged with &quot;{{ tag }}&quot;"><span class="label label-info">{{ tag }}</span></a>  {% if forloop.last != true %} {% endif %} {% endfor %}
    </div>
	<!-- Tags -->

    
	<!-- Previous/Next Post Link -->
    <div>
        <p>
        {% if page.next %}
			<a class="next" href="{{ page.next.url }}" rel="bookmark">&laquo;&nbsp;{{ page.next.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.previous %}
            <a class="prev" href="{{ page.previous.url }}" rel="bookmark" style="float:right">{{ page.previous.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
        </p>
        <br>
    </div>
	<!-- Previous/Next Post Link -->

    <!-- JiaThis Button BEGIN -->
    <div>
        <div class="jiathis_style_32x32">
            <a class="jiathis_button_qzone"></a>
            <a class="jiathis_button_tsina"></a>
            <a class="jiathis_button_tqq"></a>
            <a class="jiathis_button_renren"></a>
            <a class="jiathis_button_t163"></a>
            <a class="jiathis_button_hi"></a>
            <a class="jiathis_button_fb"></a>
            <a class="jiathis_button_googleplus"></a>
            <a class="jiathis_button_twitter"></a>
            <a class="jiathis_button_linkedin"></a>
            <a class="jiathis_button_reddit"></a>
            <a href="http://www.jiathis.com/share?uid=1645446" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
            <a class="jiathis_counter_style"></a>
        </div>
        <br>
    </div>
	<script type="text/javascript">
		var jiathis_config = {data_track_clickback:'true'};
	</script>
	<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1340804108559251" charset="utf-8"></script>
	<!-- JiaThis Button END -->
    
    <hr />
    <!-- Comments -->
    {% if page.comments %}
        <div>
            <h2>Comments Section</h2>
            <p>Feel free to comment on the post but keep it clean and on topic.</p>
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = '{{ site.comments.disqus.short_name }}';

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>

    {% endif %}
    <!-- Comments -->

    <!-- Twitter -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <!-- Twitter -->

    <!-- Google+ -->
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <!-- Google+ -->
    
    <!-- Send to Pocket -->
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
    <!-- Send to Pocket -->
    
    <!-- Send to Readability -->
    <script type="text/javascript">(function() {var s = document.getElementsByTagName("script")[0],rdb = document.createElement("script"); rdb.type = "text/javascript"; rdb.async = true; rdb.src = document.location.protocol + "//www.readability.com/embed.js"; s.parentNode.insertBefore(rdb, s); })();</script>
    <!-- Send to Readability -->
    
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_CN/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
</div>

